*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--text: #faeaea;
	--background: #080202;
	--primary: #55aaff;
	--secondary: #0f0f3e;
	--accent: #ce334c;
	--normal-fs: 16px;
	--large-fs: 18px;
}
html {
	font-family: "Poppins", sans-serif;
	color: var(--text);
	font-size: var(--normal-fs);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--text);
}
::-webkit-scrollbar {
	width: 10px;
	background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--accent);
}
header,
header > .nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header {
	background: var(--background);
	padding: 20px 70px;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid var(--secondary);
}
header > img {
	height: 150%;
}
header > .nav {
	width: 30%;
}
.nav > .nav-item {
	font-size: var(--large-fs);
	position: relative;
}
.nav-item::before {
	content: attr(data-content);
	color: var(--accent);
	position: absolute;
	left: 0;
	width: 0;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	pointer-events: none;
}
.nav-item:hover::before {
	width: 100%;
}
body.no-scroll {
	overflow: hidden;
}
.rotate {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}
.menu-icon {
	display: none;
	cursor: pointer;
}
.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
	grid-auto-rows: 30px;
	gap: 0.4px;
	align-items: center;
	justify-content: center;
	background: var(--secondary);
}
.cell {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
}
