*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--text: #faeaea;
	--background: #080202;
	--primary: #55aaff;
	--secondary: #0f0f3e;
	--accent: #ce334c;
	--normal-fs: 16px;
	--large-fs: 18px;
}
html {
	font-family: "Poppins", sans-serif;
	color: var(--text);
	font-size: var(--normal-fs);
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: var(--text);
}
::-webkit-scrollbar {
	width: 10px;
	background-color: var(--secondary);
}

::-webkit-scrollbar-thumb {
	background: var(--primary);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:active {
	background-color: var(--accent);
}
.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
	grid-auto-rows: 30px;
	gap: 0.4px;
	align-items: center;
	justify-content: center;
	background: var(--secondary);
}
.cell {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.9);
}
/* ! ************************************\
	@ Header and navbar
\************************************ ! */
header,
header > .nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header {
	background: var(--background);
	padding: 20px 70px;
	height: 100px;
	width: 100%;
	border-bottom: 1px solid var(--secondary);
}
header > img {
	height: 150%;
}
header > .nav {
	width: 30%;
}
.nav > .nav-item {
	font-size: var(--large-fs);
	position: relative;
}
.nav-item::before {
	content: attr(data-content);
	color: var(--accent);
	position: absolute;
	left: 0;
	width: 0;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	pointer-events: none;
}
.nav-item:hover::before {
	width: 100%;
}
body.no-scroll {
	overflow: hidden;
}
.rotate {
	transform: rotate(180deg);
	transition: transform 0.3s ease;
}
.menu-icon {
	display: none;
	cursor: pointer;
}
/* ! ************************************\
	@ Section 1 : introduction
\************************************ ! */
.introduction {
	height: fit-content;
	background-image: url(../assets/Bg.jpg);
	background-size: cover;
	background-position: bottom;
	padding: 120px 110px;
}
.main-title {
	font-size: 40px;
	text-transform: uppercase;
	background: linear-gradient(
		45deg,
		var(--primary),
		var(--accent),
		var(--accent)
	);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	padding: 75px 0 10px;
}
.club-description {
	width: 45%;
	text-align: justify;
	text-wrap: balance;
	color: #808080;
	margin-bottom: 40px;
	margin-left: 30px;
}
.btn {
	background: none;
	border: none;
	color: var(--text);
	padding: 10px 20px;
}
.call-to-action {
	border: 2px solid var(--primary);
	font-weight: 500;
	font-size: var(--large-fs);
	border-radius: 35px;
	color: var(--primary);
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	margin-left: 30px;
}
.call-to-action:hover {
	color: var(--text);
	border-color: var(--accent);
	-webkit-box-reflect: below 10px
		linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}
/* ......................................... */
.but {
	margin-left: 20px;
	position: relative;
	cursor: pointer;
	border: 0;
	vertical-align: middle;
	background: transparent;
	font-size: inherit;
	font-family: inherit;
}

.but.learn-more {
	width: 12rem;
	height: auto;
}

.but.learn-more .circle {
	width: 3rem;
	height: 3rem;
	border-radius: 1.625rem;
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: relative;
	display: block;
	background: #8779b6;
}

.but.learn-more .circle .icon {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	background: #fff;
}

.but.learn-more .circle .icon.arrow {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	left: 0.625rem;
	width: 1.125rem;
	height: 0.125rem;
	background: none;
}

.but.learn-more .circle .icon.arrow::before {
	position: absolute;
	content: "";
	top: -0.29rem;
	right: 0.0625rem;
	width: 0.625rem;
	height: 0.625rem;
	border-top: 0.125rem solid #fff;
	border-right: 0.125rem solid #fff;
	transform: rotate(45deg);
}

.but.learn-more .but-text {
	transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
	position: absolute;
	inset: 0;
	padding: 0.75rem 0;
	margin: 0 0 0 1.85rem;
	color: #8779b6;
	font-weight: 700;
	line-height: 1.6;
	text-align: center;
	text-transform: uppercase;
}

.but:hover .circle {
	width: 100%;
}

.but:hover .circle .icon.arrow {
	background: #fff;
	transform: translate(1rem, 0);
}

.but:hover .but-text {
	color: #fff;
}
/* #################################################################################################### */
.objective,
.add {
	padding: 70px 110px;
}
.section-title {
	font-size: 38px;
	color: var(--primary);
	text-transform: capitalize;
	font-weight: 500;
	transition: all 0.5s ease-in-out;
}
.section-title i {
	font-size: 30px;
	transition: all 0.5s ease-in-out;
}
.section-title:hover i {
	transform: rotate(360deg);
	color: #8779b6;
}
#cards {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	margin-top: 40px;
}

#cards:hover > .card::after {
	opacity: 1;
}

.card {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	cursor: pointer;
	height: 400px;
	position: relative;
	width: 302px;
	transition: border-color 0.1s ease-in-out;
}
.card:hover::before {
	opacity: 1;
}
.card::before,
.card::after {
	border-radius: inherit;
	content: "";
	height: 100%;
	left: 0px;
	opacity: 0;
	top: 0px;
	position: absolute;
	transition: opacity 500ms;
	width: 100%;
}

.card::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.06),
		transparent 40%
	);
	z-index: 3;
}

.card::after {
	background: radial-gradient(
		500px circle at var(--mouse-x) var(--mouse-y),
		#8779b6,
		transparent 40%
	);
	z-index: 1;
}

.card > .card-content {
	border-radius: inherit;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	inset: 1px;
	padding: 30px 20px 20px;
	position: absolute;
	z-index: 2;
	text-align: center;
	text-wrap: balance;
}
.card:hover {
	border: 1px solid #8779b6;
}
.card-image {
	height: 130px;
	width: 100%;
}
.card-image > img {
	height: 100%;
}
.card-info-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-grow: 1;
	padding: 0px 20px;
}

.card-info {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}
.card-info-title > h3 {
	color: var(--primary);
	font-weight: 500;
	text-transform: capitalize;
}
.card-info-title > h4 {
	color: rgba(255, 255, 255, 0.5);
	font-size: 0.85em;
	margin-top: 8px;
}
/*****************************************************\
 		@ section 3 : add
\*****************************************************/
.add {
	height: fit-content;
}
.add-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 40px;
}
.add-right {
	width: 50%;
}
.add-right label {
	font-size: 30px;
	color: var(--accent);
	font-weight: 500;
}
.add-text {
	line-height: 1.8;
	text-wrap: balance;
	text-align: justify;
	font-size: var(--large-fs);
	color: #808080;
	padding: 15px 0;
}
.add-pic {
	height: 500px;
	border: 2px solid var(--accent);
	border-radius: 40px;
}
.add-pic img {
	border-radius: 40px;
	height: 100%;
	width: 100%;
}
.sign-up {
	padding: 15px 0;
}
.sign-up input {
	height: 40px;
	width: 70%;
	border-radius: 20px;
	padding: 20px;
	outline: none;
	font-size: var(--large-fs);
	color: var(--secondary);
	border: 5px solid var(--primary);
}
.sign-up input::placeholder {
	color: var(--secondary);
	font-size: var(--large-fs);
}
.sign-up input:focus {
	border-color: #8779b6;
}
.submit {
	font-size: 18px;
	background: var(--primary);
	color: white;
	padding: 15px;
	border: none;
	border-radius: 20px;
	overflow: hidden;
	transition: all 0.2s;
	margin-left: 16px;
}

.submit .span {
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}

.submit:active {
	transform: scale(0.95);
}
.submit:hover {
	background: #8779b6;
	cursor: pointer;
}
.submit i {
	display: inline-block;
	transform-origin: center;
	transition: transform 0.3s ease-in-out;
}

.submit:hover .span {
	transform: translateX(100px);
}

.submit:hover i {
	animation: fly-1 0.6s ease-in-out infinite alternate;
}
.temp {
	display: inline-block;
	transition: all 0.6s ease-in-out;
}
.submit:hover .temp {
	color: var(--secondary);
	transform: translateX(30px) rotate(45deg) scale(1.5);
}
@keyframes fly-1 {
	0% {
		transform: translateY(0.1em);
	}
	50% {
		transform: translateY(-0.1em);
	}
	100% {
		transform: translateY(0.1em);
	}
}
/*********************************************************************\
	@ section 4 : footer
\*********************************************************************/
footer {
	/* background: var(--secondary); */
	height: max-content;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* border-top: 1px solid gray; */
	padding: 0 110px;
}
footer > img {
	height: 300px;
}

.social-links {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 0 40px;
	border-radius: 25px;
}
.social-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	color: #000;
}

.social-link:hover a {
	color: #8779b6;
}
/*********************************************************************\
	@ Responsiveness
\*********************************************************************/
@media (max-width: 1025px) {
	header {
		padding: 20px;
	}
	header .nav {
		width: 40%;
	}
	section,
	footer {
		padding: 50px 20px !important;
	}
	footer {
		padding-bottom: 0;
	}
	.main-title {
		padding-top: 30px;
	}
	.submit {
		margin-top: 20px;
		margin-left: 0;
	}
}
@media (max-width: 976px) {
	.card {
		width: 250px;
	}
	footer {
		padding-bottom: 0;
	}
}
@media (max-width: 876px) {
	header .nav {
		display: none;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: absolute;
		background: var(--secondary);
		right: 0;
		top: 0;
		width: 0;
		z-index: 99;
		height: 0;
		opacity: 0;
		width: 100%;
		transition: all 0.5s ease-in-out;
	}
	header .nav.active {
		display: flex;
		opacity: 0.9;
		height: 100%;
	}
	.nav-item {
		width: 100%;
		text-align: center;
		font-size: 28px;
		height: 34px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.nav-item:hover {
		background: var(--accent);
		color: white;
	}
	.nav-item:before {
		content: "";
	}
	.menu-icon {
		display: block;
		z-index: 100;
	}
	.card {
		width: 220px;
	}
	.main-title {
		padding: 0px;
	}
	.add-right {
		width: 60%;
	}
	.add-pic {
		height: 400px;
		width: 300px;
	}
	.add-text {
		font-size: 14px;
		width: 80%;
	}
	.club-description {
		font-size: 14px;
	}
	.card h4 {
		font-size: 14px;
	}
	.add-right label {
		font-size: 26px;
	}
	.card-image {
		height: 100px;
	}
	.sign-up {
		/* width: 100%; */
		display: flex;
		justify-content: space-between;
		flex-direction: column;
	}
	.submit {
		width: 35%;
	}
}
@media (max-width: 641px) {
	#cards {
		flex-direction: column;
		height: max-content;
		gap: 20px;
	}
	.card > .card-content {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		text-align: left;
		flex-grow: 0;
	}
	.card {
		width: 100%;
		height: 200px;
		border: 1px solid #8779b6;
		flex-direction: row;
	}
	.card-image {
		width: fit-content;
		margin-left: 30px;
	}
	.add-content {
		flex-direction: column;
		width: 100%;
	}
	.add-right {
		width: 100%;
	}
	.add-pic {
		width: 100%;
		height: 700px;
		margin-top: 30px;
	}

	.submit {
		margin-top: 0;
		background: #8779b6;
		cursor: pointer;
	}
	.sign-up input {
		border-color: #8779b6;
	}
	.buttons {
		display: flex;
		align-items: start;
		justify-content: space-between;
		flex-direction: column;
	}
	.but {
		margin-left: 30px;
		margin-top: 20px;
	}
	.call-to-action:hover {
		-webkit-box-reflect: unset;
	}
	footer > img {
		height: 200px;
	}
	.add-text {
		width: 100%;
	}
	.sign-up {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
	}
	.submit {
		width: auto;
	}
	.club-description {
		width: 60%;
	}
}
@media (max-width: 501px) {
	.sign-up input {
		width: 65%;
	}
	.add-pic {
		height: 550px;
	}
	.social-link {
		font-size: 14px;
	}
	.social-links {
		margin-right: 0;
	}
	.club-description {
		width: 65%;
	}
	.main-title {
		font-size: 34px;
	}
	.nav-item:active::before {
		width: 100%;
	}
}
@media (max-width: 476px) {
	.section-title {
		font-size: 32px;
	}
	.social-link {
		font-size: 12px;
	}
}
@media (max-width: 452px) {
	.sign-up input {
		width: 80%;
	}
	.submit .span {
		display: none;
	}
	.club-description,
	.card h4 {
		font-size: 12px;
		font-weight: 400;
	}
	.section-title {
		font-size: 28px;
	}
	.add-right label {
		font-size: 24px;
		margin-top: 20px;
	}
	.add-pic {
		height: 500px;
	}
	.submit:hover .temp {
		transition: none;
	}
	.submit:hover i {
		animation: none;
	}
}
@media (max-width: 421px) {
	.add-pic {
		height: 450px;
	}
	.main-title {
		font-size: 32px;
	}
	footer > img {
		height: 150px;
	}
	.card-image {
		height: 75px;
		margin-left: 20px;
	}
	.card {
		height: 125px;
	}
	.card > .card-content {
		padding: 0;
	}
	.card > .card-info-wrapper {
		padding-left: 20px;
	}
	header > img {
		height: 120%;
	}
	.add-right label {
		font-size: 22px;
	}
	.sign-up input::placeholder {
		color: var(--secondary);
		font-size: 14px;
	}
	.introduction {
		background-repeat: no-repeat;
		background-size: contain;
	}
}
@media (max-width: 401px) {
	header {
		padding: 10px 20px;
	}
	header > img {
		height: 100%;
	}
	.main-title {
		font-size: 28px;
	}

	.club-description {
		width: 80%;
	}
	.buttons {
		width: 80%;
	}
	.card-info-wrapper {
		padding-left: 20px;
	}
	.add-right label {
		font-size: 18px;
	}
	.section-title {
		font-size: 22px;
	}
	.social-links {
		margin: 0px 20px;
	}
	.add-pic {
		height: 365px;
	}

	.but {
		font-size: 12px;
	}
	.but.learn-more .but-text {
		top: 30%;
		padding: 0;
		margin: 0;
	}
	.btn {
		padding: 10px;
		font-size: 14px;
	}
	section,
	footer {
		padding: 50px 10px !important;
	}
	.introduction {
		background-color: var(--background);
	}
	.container {
		gap: 0.35px;
	}
}
